.update-container {
    background-color: rgb(135, 197, 255);
    height: 240px;
    width: 230px;
    position: absolute;
    margin: 50px 0px 0px 0px;
}
.closeUpdate-buttom {
    margin: 10px 0px 0px 10px;
    height: 20px;
    border: none;
    border-radius: 1px;
    background-color: rgb(153, 153, 153);
    cursor: pointer;
}
.closeUpdate-buttom:hover {
    background-color: rgb(179, 176, 176);
}
.formUpdate-container {
    height: 180px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
.inputUpdate-style {
    border: none;
    font-size: 15px;
    border-radius: 2px;
    margin-top: 2px;
}
.sendUpdate {
    height: 20px;
    width: 60px;
    border: none;
    border-radius: 1px;
    cursor: pointer;
    background-color: rgb(197, 191, 191);
}
.sendUpdate:hover {
    background-color: rgb(172, 167, 167);
}
.update-confirmation-text {
    text-align: center;
    position: relative;
    bottom: 22px;
}