.homepage-container {
    margin: 10px 5px 0px 8px;
}
.user-message-container {
    display: flex;
    gap: 5px;
}
#username {
    color: red;
}
.titleAndLogOut-container {
    display: flex;
    justify-content: space-between;
    margin-right: 10px;
}
.logOut-button {
    background-color: rgb(76, 178, 184);
    border: none;
    border-radius: 5px;
    height: 40px;
    width: 80px;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
}
.logOut-button:hover {
    background-color: rgb(99, 197, 202);
}
.folders-collage {
    width: 80%;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}
.add-delete-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}
.probando {
    position: relative;
    left: 500px;
    bottom: 800px;
    height: 50px;
    width: 150px;
    border: none;
    background-color: rgb(185, 173, 173);
    cursor: pointer;
}