.homepage-container {
    margin: 10px 5px 0px 8px;
}
.user-message-container {
    display: flex;
    gap: 5px;
}
#username {
    color: red;
}
.titleAndLogOut-container {
    display: flex;
    justify-content: space-between;
    margin-right: 10px;
}
.logOut-button {
    background-color: rgb(76, 178, 184);
    border: none;
    border-radius: 5px;
    height: 40px;
    width: 80px;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
}
.logOut-button:hover {
    background-color: rgb(99, 197, 202);
}
.folders-collage {
    width: 80%;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}
.go-to-addMovie {
    position: absolute;
    left: 82%;
    bottom: 50%;
    border: none;
    text-decoration: none;
    background-color: rgb(255, 96, 96);
    color: black;
    padding: 20px 40px 20px 40px;
    border-radius: 2px;
}
.go-to-addMovie:hover {
    background-color: rgb(255, 146, 146);
}