.movieInfo-container {
    width: 200px;
}
.list-container {
    text-align: center;
    list-style: none;
}
.infoId-container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}
.info-tittle {
    padding: 0%;
    margin: 0%;
}
.bottom-line {
    border-bottom: solid 1px black;
    
}
.close-button {
    border: none;
    height: 30px;
    width: 70px;
    background-color: rgb(197, 191, 191);
    border-radius: 2px;
    cursor: pointer;
    margin: 5px 0px 10px 0px;
    position: relative;
    left: 85px;
}
.close-button:hover {
background-color: rgb(172, 167, 167);
}