.list-container {
    text-align: center;
    list-style: none;
    position: relative;
    left: 95px;
    bottom: 360px;
}
.infoId-container {
    width: 40px;
    list-style: none;
    text-align: center;
    position: relative;
    bottom: 350px;
    left: 225px;
}
.info-tittle {
    padding: 0%;
    margin: 0%;
}
.close-button {
    border: none;
    height: 30px;
    width: 70px;
    background-color: rgb(197, 191, 191);
    border-radius: 2px;
    cursor: pointer;
    margin: 5px 0px 10px 0px;
    position: relative;
    bottom: 340px;
    left: 320px;
}
.close-button:hover {
background-color: rgb(172, 167, 167);
}