.video {
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
}
.home-container {
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text-container {
    background-color: rgba(153, 153, 153, 0.63);
    padding: 0 15px 25px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 2px;
}
.start-button {
    text-decoration: none;
    color: rgb(255, 255, 255);
    border: none;
    background-color: rgb(26, 26, 26);
    padding: 8px;
    font-size: 20px;
    border-radius: 5px;
}
.start-button:hover {
    background-color: rgb(201, 201, 201);
    color: black;
}

