.deleteMovie-container {
    width: 300px;
    height: 200px;
    border: 2px solid red;
    background-color: rgba(250, 113, 113, 0.973);
    position: absolute;
    left: 58%;
    bottom: 20%;
}
.close-button-deleteMovie {
    position: relative;
    left: 80%;
    top: 2%;
    border: none;
    padding: 8px;
    background-color: rgb(214, 213, 213);
}
.close-button-deleteMovie:hover {
    background-color: rgb(189, 187, 187);
    cursor: pointer;
}
.tittle-delete-form {
    text-align: center;
}
.delete-movie-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
}
.delete-input {
    border: none;
    margin-left: 5px;
}
.delete-button {
    border: none;
    border-radius: 2px;
    padding: 10px;
    cursor: pointer;
    background-color: rgb(214, 213, 213);
}
.delete-button:hover {
    background-color: rgb(189, 187, 187);
    cursor: pointer;
}
.delete-confirmation-text {
    text-align: center;
    position: relative;
    bottom: 40%;
    color: rgb(255, 0, 0);
}
