.folder-container{
    border: solid 2px rgb(0, 47, 255);
    width: 230px;
    height: auto;
    text-align: center;
    background-color: rgba(127, 193, 255, 0.932);
}
.folder-container2 {
    border: solid 2px rgb(0, 47, 255);
    width: 480px;
    height: 355px;
    background-color: rgba(127, 193, 255, 0.932);
}
.folder-image {
    margin-top: 8px;
    width: 200px;
    height: 280px;
}
.folder-image2 {
    width: 200px;
    height: 280px;
    position: relative;
    left: 15px;
    top: 10px;
}
.movie-tittle {
    margin: 10px;
    word-wrap: break-word;
}
.movie-tittle2 {
    font-size: 20px;
    position: relative;
    left: 30px;
}
.folder-button {
    border: none;
    height: 30px;
    width: 70px;
    background-color: rgb(197, 191, 191);
    border-radius: 5px;
    cursor: pointer;
    margin: 5px 0px 10px 0px;
}
.folder-button:hover {
    background-color: rgb(172, 167, 167);
}
.folder-button2 {
    display: none;
}