.folder-container{
    border: solid 2px rgb(0, 47, 255);
    width: 230px;
    height: 355px;
    text-align: center;
    background-color: rgba(127, 193, 255, 0.932);
}
.folder-container2 {
    border: solid 2px rgb(0, 47, 255);
    width: 480px;
    height: 355px;
    background-color: rgba(127, 193, 255, 0.932);
}
.folder-image {
    margin-top: 8px;
    width: 200px;
    height: 280px;
}
.folder-image2 {
    width: 200px;
    height: 280px;
    position: relative;
    left: 15px;
    top: 10px;
}
.movie-tittle {
    box-sizing: border-box;
    margin: 5px;
}
.movie-tittle2 {
    font-size: 20px;
    position: relative;
    left: 55px;
}
.folder-button {
    border: none;
    background-color: rgb(197, 191, 191);
    height: 25px;
    border-radius: 5px;
    cursor: pointer;
}
.folder-button2 {
    display: none;
}